
#
# This environment file sets variables for the development
# Database specifics are set in the docker-compose file and the ORIGIN is not required for local development
#

# prisma database url
DATABASE_URL="postgresql://prisma:prisma@localhost:5432/finances?schema=public"
